@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
    margin: 0;
    background-color: rgb(95, 93, 93);
}

header{
    background-color: black;
    padding: 60px;
    text-align: center;
}
header h1{
    font-family: 'Passion One', cursive;
    color: white;
    font-size: 3em;
    margin: 0;
}
header p{
    color: white;
    font-weight: lighter;
    margin: 0;
}
header a{
    text-decoration: none;
    color: whitesmoke;
}
header a:hover{
    text-decoration: underline;
}

main{
    max-width: 900px;
    margin: auto;
    background-color: white;
}

article div{
    display: block;
    padding: 20px;
       
}
.paragrafos{
    font-family: Sriracha, cursive;
}
.conteudo{
    font-family: Sriracha, cursive;
    color: white;
    background-color: rgba(0, 0, 0, 0.219);
    max-width: 35%;
}
#Fgirassol{
    background-image: url(../imagens/background001.jpg);
    max-height: 50vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#Fcartas{
   background-image: url(../imagens/background002.jpg);
   max-height: 50vh;
}

footer{
    background-color: black;
    padding: 20px;
}
footer p{
    color: white;
    font-size: 1.2em;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
}