@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
    margin: 0;
    background-color: rgb(95, 93, 93);
}

header{
    background-color: black;
    padding: 60px;
    text-align: center;
}
header h1{
    font-family: 'Passion One', cursive;
    color: white;
    font-size: 5vh;
    margin: 0;
}
header p{
    color: white;
    font-weight: lighter;
    margin: 0;
}
header a{
    text-decoration: none;
    color: whitesmoke;
}
header a:hover{
    text-decoration: underline;
}

main{
    max-width: 900px;
    margin: auto;
    background-color: white;
    padding: 10px;
}

section p{
    font-family: 'Sriracha', cursive;
    font-size: 2vh;
    line-height: 3em;
    padding: 30px 10px;

}
.imagens{
    max-height: 50vh;
    background-color: rgb(0, 0, 0);
    margin: -10px;
    padding: 40px 10px;
}
.imagens  p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
}
#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
#img02{
    background-image: url(../imagens/background002.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

footer{
    background-color: black;
    padding: 8px;
}
footer p{
    color: white;
    font-size: 1.2em;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
}